* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "roboto", sans-serif;
}

main {
  overflow: hidden;
}

ul {
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.section {
  padding-bottom: 25px;
}

.section__title {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 50px 0 20px 20px;
}

.header {
  z-index: 0;
  width: 100%;
  height: 60px;
  padding: 0;
}
.header__div {
  height: 100%;
  display: flex;
  align-content: space-between;
  box-shadow: 0px 5px 15px #cfcfcf;
}
.header__div-img {
  width: 100%;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.header__div-img a {
  width: 20%;
  align-self: center;
}
.header__div-img a i {
  width: 40px;
}
.header__img {
  align-self: flex-end;
  width: 160px;
  margin: 0 auto;
  padding: 15px 0 10px;
}
.header .return-display {
  margin: 0 auto 0 32.5px;
}

.cta-btn {
  color: #f6e3f8;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  box-sizing: border-box;
  color: white;
  font-size: 0.9rem;
  font-weight: 550;
  border: none;
  padding: 15px 20px;
  border-radius: 25px;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
}
.cta-btn a {
  color: white;
}

.cta-btn-order {
  color: #f6e3f8;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  box-sizing: border-box;
  color: white;
  font-size: 0.9rem;
  font-weight: 550;
  border: none;
  padding: 15px 20px;
  border-radius: 25px;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  width: 50%;
  margin: 20px auto;
  padding: 17.5px 50px;
  font-size: 1rem;
  font-weight: 500;
}
.cta-btn-order a {
  color: white;
}

.step__btn {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  box-sizing: border-box;
  margin: 10px auto;
  padding: 20px 0;
  font-weight: 700;
  background-color: #f5f5f5;
  border-radius: 25px;
  box-shadow: 0px 5px 15px #cfcfcf;
}
.step__btn > p {
  font-size: 1rem;
  font-weight: 550;
  padding: 5px 10px;
  align-content: center;
}
.step__btn .step-number {
  font-size: 12px;
  font-weight: 100;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1;
  height: 15px;
  width: 15px;
  padding: 5px;
  border-radius: 50%;
  background-color: #9356DC;
  position: relative;
  right: 10px;
}
.step__btn > i {
  margin: 0 20px 0 10px;
  color: #353535;
}
.step__btn:hover {
  background-color: #f5edff;
}
.step__btn:hover > i {
  color: #9356DC;
}

.home-card {
  overflow: hidden;
  border-radius: 15px;
  width: 90%; /*1*/
  margin: 0px auto 15px auto; /*2*/
  background-color: white; /*3*/
  box-shadow: 0px 1px 15px -10px #000000;
}
.home-card__figure-figcaption {
  width: 90%;
}
.home-card__figure-figcaption-title {
  font-size: 1.1rem;
  padding-bottom: 5px;
}
.home-card__figure-figcaption p {
  font-size: 1rem;
}
.home-card__figure-div-span span {
  overflow: visible;
  color: #008766;
  padding: 5px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  font-size: 12px;
  font-weight: 550;
  background-color: #99e2d0;
  position: relative;
  right: 35px;
  bottom: 165px;
}
.home-card__figure-img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  object-position: center;
}
.home-card__content {
  height: 60px;
  padding: 0 5px 5px 15px;
  display: flex;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.home-card__content div {
  width: 0px;
}
.home-card__content i {
  margin: 0 10px;
}

.cta-btn {
  color: #f6e3f8;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  box-sizing: border-box;
  color: white;
  font-size: 0.9rem;
  font-weight: 550;
  border: none;
  padding: 15px 20px;
  border-radius: 25px;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
}
.cta-btn a {
  color: white;
}

.cta-btn-order {
  color: #f6e3f8;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  box-sizing: border-box;
  color: white;
  font-size: 0.9rem;
  font-weight: 550;
  border: none;
  padding: 15px 20px;
  border-radius: 25px;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  width: 50%;
  margin: 20px auto;
  padding: 17.5px 50px;
  font-size: 1rem;
  font-weight: 500;
}
.cta-btn-order a {
  color: white;
}

.step__btn {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  box-sizing: border-box;
  margin: 10px auto;
  padding: 20px 0;
  font-weight: 700;
  background-color: #f5f5f5;
  border-radius: 25px;
  box-shadow: 0px 5px 15px #cfcfcf;
}
.step__btn > p {
  font-size: 1rem;
  font-weight: 550;
  padding: 5px 10px;
  align-content: center;
}
.step__btn .step-number {
  font-size: 12px;
  font-weight: 100;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1;
  height: 15px;
  width: 15px;
  padding: 5px;
  border-radius: 50%;
  background-color: #9356DC;
  position: relative;
  right: 10px;
}
.step__btn > i {
  margin: 0 20px 0 10px;
  color: #353535;
}
.step__btn:hover {
  background-color: #f5edff;
}
.step__btn:hover > i {
  color: #9356DC;
}

.home-card {
  overflow: hidden;
  border-radius: 15px;
  width: 90%; /*1*/
  margin: 0px auto 15px auto; /*2*/
  background-color: white; /*3*/
  box-shadow: 0px 1px 15px -10px #000000;
}
.home-card__figure-figcaption {
  width: 90%;
}
.home-card__figure-figcaption-title {
  font-size: 1.1rem;
  padding-bottom: 5px;
}
.home-card__figure-figcaption p {
  font-size: 1rem;
}
.home-card__figure-div-span span {
  overflow: visible;
  color: #008766;
  padding: 5px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  font-size: 12px;
  font-weight: 550;
  background-color: #99e2d0;
  position: relative;
  right: 35px;
  bottom: 165px;
}
.home-card__figure-img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  object-position: center;
}
.home-card__content {
  height: 60px;
  padding: 0 5px 5px 15px;
  display: flex;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.home-card__content div {
  width: 0px;
}
.home-card__content i {
  margin: 0 10px;
}

.home-cover {
  background-color: green;
  margin: 0;
}
.home-cover__location {
  box-shadow: -1px 20px 5px -20px rgba(0, 0, 0, 0.51) inset;
  display: flex;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #eaeaea;
  font-weight: 700;
  font-size: 16px;
  color: #353535;
  font-family: "roboto";
}
.home-cover__location-form {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
}
.home-cover__location-form .icn {
  padding-right: 20px;
}
.home-cover__location-form input {
  height: 20px;
  width: 140px;
}
.home-cover__div-location {
  color: #353535;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  box-shadow: -1px 20px 5px -20px rgba(0, 0, 0, 0.51) inset;
  height: 50px;
}
.home-cover__input-location {
  display: flex;
  border: none;
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  font-weight: 550;
  font-size: 16px;
  color: #353535;
  font-family: "roboto";
}
.home-cover__input-location:focus {
  outline: none;
}
.home-cover__input-location::placeholder {
  color: #353535;
}

.home-cover {
  background-color: #f5f5f5;
  margin: 0;
}
.home-cover__title {
  width: 75%;
  font-size: 1.3rem;
  font-weight: 700;
  margin: 40px auto 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.home-cover__subtitle {
  width: 90%;
  color: #353535;
  font-size: 0.95rem;
  margin: 20px auto 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cta-btn {
  color: #f6e3f8;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  box-sizing: border-box;
  color: white;
  font-size: 0.9rem;
  font-weight: 550;
  border: none;
  padding: 15px 20px;
  border-radius: 25px;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
}
.cta-btn a {
  color: white;
}

.cta-btn-order {
  color: #f6e3f8;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  box-sizing: border-box;
  color: white;
  font-size: 0.9rem;
  font-weight: 550;
  border: none;
  padding: 15px 20px;
  border-radius: 25px;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  width: 50%;
  margin: 20px auto;
  padding: 17.5px 50px;
  font-size: 1rem;
  font-weight: 500;
}
.cta-btn-order a {
  color: white;
}

.step__btn {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  box-sizing: border-box;
  margin: 10px auto;
  padding: 20px 0;
  font-weight: 700;
  background-color: #f5f5f5;
  border-radius: 25px;
  box-shadow: 0px 5px 15px #cfcfcf;
}
.step__btn > p {
  font-size: 1rem;
  font-weight: 550;
  padding: 5px 10px;
  align-content: center;
}
.step__btn .step-number {
  font-size: 12px;
  font-weight: 100;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1;
  height: 15px;
  width: 15px;
  padding: 5px;
  border-radius: 50%;
  background-color: #9356DC;
  position: relative;
  right: 10px;
}
.step__btn > i {
  margin: 0 20px 0 10px;
  color: #353535;
}
.step__btn:hover {
  background-color: #f5edff;
}
.step__btn:hover > i {
  color: #9356DC;
}

.home-steps__div-step {
  display: flex;
  flex-direction: column;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}
.home-steps .icn {
  line-height: 1;
  color: #757575;
}
.home-steps a {
  width: 90%;
}

.home-card {
  overflow: hidden;
  border-radius: 15px;
  width: 90%; /*1*/
  margin: 0px auto 15px auto; /*2*/
  background-color: white; /*3*/
  box-shadow: 0px 1px 15px -10px #000000;
}
.home-card__figure-figcaption {
  width: 90%;
}
.home-card__figure-figcaption-title {
  font-size: 1.1rem;
  padding-bottom: 5px;
}
.home-card__figure-figcaption p {
  font-size: 1rem;
}
.home-card__figure-div-span span {
  overflow: visible;
  color: #008766;
  padding: 5px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  font-size: 12px;
  font-weight: 550;
  background-color: #99e2d0;
  position: relative;
  right: 35px;
  bottom: 165px;
}
.home-card__figure-img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  object-position: center;
}
.home-card__content {
  height: 60px;
  padding: 0 5px 5px 15px;
  display: flex;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.home-card__content div {
  width: 0px;
}
.home-card__content i {
  margin: 0 10px;
}

.home-restaurant {
  background-color: #f5f5f5;
  padding-bottom: 40px;
  margin-bottom: 0;
}

.footer__nav li {
  padding-bottom: 2px;
}
.footer__nav li i {
  margin-right: 10px;
}
.footer__nav .legal {
  padding-top: 5px;
  font-weight: 400;
}

.footer {
  height: 160px;
  font-size: 1rem;
  font-weight: 500;
  color: #f5f5f5;
  padding: 5px 0 40px 20px;
  background-color: #353535;
}
.footer__title {
  color: white;
  padding: 15px 0;
  font-weight: 100;
  font-size: 1.2rem;
  font-family: "shrikhand", sans-serif;
}

.rest-cover {
  height: 220px;
  object-fit: cover;
  width: 100%;
}
.rest-cover .img {
  height: 250px;
  object-fit: cover;
  object-position: 50%;
  overflow: auto;
}

.rest-card {
  background-color: white;
  border-radius: 15px;
  display: flex;
  justify-content: space-evenly;
  margin: 12.5px auto;
  width: 100%;
  box-shadow: 0px 5px 10px #e8e8e8;
}
.rest-card .rich {
  padding: 15px 0;
  width: 70%;
  display: flex;
  flex-direction: column;
}
.rest-card .rich h5 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-bottom: 5px;
  font-size: 1.1rem;
  font-weight: 550;
}
.rest-card .rich .details {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.9rem;
  font-weight: 400;
  color: #5a5c65;
}
.rest-card .price {
  color: #5a5c65;
  height: 100%;
  min-width: 10%;
  font-weight: 550;
  font-size: 0.95rem;
  padding: 7px;
  text-align: end;
  align-self: flex-end;
  padding-bottom: 15px;
}
.rest-card .checked-box {
  display: none;
}
.rest-card:hover .rich {
  box-sizing: border-box;
  padding-left: 15px;
  width: 65%;
}
.rest-card:hover .price {
  width: 10%;
}
.rest-card:hover .checked-box {
  width: 20%;
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.part-menu {
  padding: 20px 10px;
}
.part-menu__title-bar .title {
  font-family: "roboto";
  color: #353535;
  font-weight: thin;
}
.part-menu__title-bar .bar {
  width: 40px;
  border-bottom: #99E2D0 solid 3px;
}

.footer__nav li {
  padding-bottom: 2px;
}
.footer__nav li i {
  margin-right: 10px;
}
.footer__nav .legal {
  padding-top: 5px;
  font-weight: 400;
}

.footer {
  height: 160px;
  font-size: 1rem;
  font-weight: 500;
  color: #f5f5f5;
  padding: 5px 0 40px 20px;
  background-color: #353535;
}
.footer__title {
  color: white;
  padding: 15px 0;
  font-weight: 100;
  font-size: 1.2rem;
  font-family: "shrikhand", sans-serif;
}

.rest-menu {
  background-color: #f5f5f5;
}
.rest-menu__container {
  height: 1158px;
  overflow: hidden;
  padding: 30px 5px;
  position: relative;
  top: 0px;
  bottom: 30px;
  background-color: #f5f5f5;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.rest-menu__div-title {
  padding-left: 10px;
  width: 100%;
  display: flex;
  font-size: 1.8rem;
}
.rest-menu__div-title-bar {
  padding: 10px 20px 0px;
}
.rest-menu__div-title-bar:first-child {
  font-weight: 400;
  color: #757575;
  padding-bottom: 5px;
}
.rest-menu__div-title i {
  align-self: center;
  width: 20%;
}
.rest-menu__div-title--title {
  font-size: 1.8rem;
  width: 90%;
  font-family: "shrikhand", sans-serif;
  font-weight: 500;
}

.footer__nav li {
  padding-bottom: 2px;
}
.footer__nav li i {
  margin-right: 10px;
}
.footer__nav .legal {
  padding-top: 5px;
  font-weight: 400;
}

.footer {
  height: 160px;
  font-size: 1rem;
  font-weight: 500;
  color: #f5f5f5;
  padding: 5px 0 40px 20px;
  background-color: #353535;
}
.footer__title {
  color: white;
  padding: 15px 0;
  font-weight: 100;
  font-size: 1.2rem;
  font-family: "shrikhand", sans-serif;
}

/*# sourceMappingURL=style.css.map */
