* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "roboto", sans-serif;
}

main {
  overflow: hidden;
}

ul {
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.section {
  padding-bottom: 25px;
}

.section__title {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 40px 0 20px 20px;
}

@media screen and (min-width: 992px) {
  .section {
    padding-bottom: 0;
  }
  .section__title {
    font-size: 32px;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.loader {
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.75);
  width: 100%;
  height: 100%;
  position: fixed;
  -webkit-animation: loader-display 0.3s 3s ease-in forwards;
  animation: loader-display 0.3s 3s ease-in forwards;
  display: flex;
  align-items: center;
  justify-content: center;
}

.span::after {
  opacity: 0.5;
}

.span-loader {
  z-index: 10;
  opacity: 1;
  width: 100%;
  height: 100%;
  border: 3px solid #353535;
  color: #353535;
  border-radius: 50%;
  width: 220px;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  animation: spin-bg 0.25s linear infinite, font-pulse 3.25s linear infinite;
  -webkit-animation: spin-bg 0.25s linear infinite, font-pulse 3.25s linear infinite;
}

@keyframes loader-display {
  0% {
    opacity: 0.95;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes font-pulse {
  0% {
    font-size: 1rem;
    font-weight: 100;
  }
  25% {
    font-size: 2.5rem;
    font-weight: 900;
  }
  50% {
    font-size: 2rem;
    font-weight: 400;
  }
  75% {
    font-size: 2.5rem;
    font-weight: 900;
  }
  100% {
    font-size: 80rem;
    font-weight: 100;
  }
}
@keyframes spin-bg {
  0% {
    background: linear-gradient(0deg, #FF79DA, #9356DC);
  }
  10% {
    background: linear-gradient(36deg, #FF79DA, #9356DC);
  }
  20% {
    background: linear-gradient(72deg, #FF79DA, #9356DC);
  }
  30% {
    background: linear-gradient(108deg, #FF79DA, #9356DC);
  }
  40% {
    background: linear-gradient(144deg, #FF79DA, #9356DC);
  }
  50% {
    background: linear-gradient(180deg, #FF79DA, #9356DC);
  }
  60% {
    background: linear-gradient(216deg, #FF79DA, #9356DC);
  }
  70% {
    background: linear-gradient(252deg, #FF79DA, #9356DC);
  }
  80% {
    background: linear-gradient(288deg, #FF79DA, #9356DC);
  }
  90% {
    background: linear-gradient(324deg, #FF79DA, #9356DC);
  }
  100% {
    background: linear-gradient(324deg, #FF79DA, #9356DC);
  }
}
.header {
  width: 100%;
  height: 60px;
  padding: 0;
}
.header__div {
  height: 100%;
  display: flex;
  align-content: space-between;
  box-shadow: 0px 5px 15px #cfcfcf;
}
.header__div-img {
  padding-bottom: 5px;
  width: 100%;
  height: 100%;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.header__div-img a {
  position: absolute;
  top: 20px;
  left: 20px;
  align-self: center;
}
.header__div-img a i {
  width: 40px;
}
.header__img {
  align-self: flex-end;
  width: 160px;
  margin: 0 auto;
  padding: 15px 0 10px;
}

@media screen and (min-width: 992px) {
  .header {
    height: 100px;
  }
  .header__div {
    height: 100%;
    width: 100%;
    box-shadow: none;
  }
  .header__img {
    width: 360px;
  }
  .header a {
    position: absolute;
    top: 40px;
    left: 40px;
    align-self: center;
  }
  .header a i {
    width: 40px;
  }
}
.cta-btn {
  width: 230px;
  line-height: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  box-sizing: border-box;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  padding: 20px;
  border-radius: 25px;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  box-shadow: 0 5px 15px rgb(160, 160, 160);
}
.cta-btn a {
  color: white;
}
.cta-btn:hover {
  background: linear-gradient(170deg, #ff93e1, #a16be0);
  box-shadow: 0 5px 15px #6d6d6d;
}

.cta-btn-order {
  width: 230px;
  line-height: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  box-sizing: border-box;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  padding: 20px;
  border-radius: 25px;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  box-shadow: 0 5px 15px rgb(160, 160, 160);
  width: 50%;
  margin: 15px auto;
  padding: 15px 50px;
  font-size: 1rem;
  font-weight: 400;
}
.cta-btn-order a {
  color: white;
}
.cta-btn-order:hover {
  background: linear-gradient(170deg, #ff93e1, #a16be0);
  box-shadow: 0 5px 15px #6d6d6d;
}

.step__btn {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  box-sizing: border-box;
  width: 90%;
  max-width: 450px;
  margin: 10px auto;
  padding: 20px 0;
  font-weight: 700;
  background-color: #f5f5f5;
  border-radius: 25px;
  box-shadow: 0px 5px 15px rgb(160, 160, 160);
}
.step__btn > p {
  font-size: 1rem;
  font-weight: 550;
  padding: 5px 10px;
  align-content: center;
}
.step__btn .step-number {
  font-size: 12px;
  font-weight: 100;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1;
  height: 15px;
  width: 15px;
  padding: 5px;
  border-radius: 50%;
  background-color: #9356DC;
  position: relative;
  right: 10px;
}
.step__btn > i {
  margin: 0 20px 0 10px;
  color: #353535;
}
.step__btn:hover {
  background-color: #f5edff;
}
.step__btn:hover > i {
  color: #9356DC;
}

@media screen and (min-width: 992px) {
  .cta-btn {
    width: 100%;
    height: 100px;
    border-radius: 0;
  }
  .cta-btn-order {
    height: 100px;
    font-size: 1.7rem;
    width: 230px;
    line-height: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    box-sizing: border-box;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    padding: 20px;
    border-radius: 25px;
    background: linear-gradient(170deg, #FF79DA, #9356DC);
    box-shadow: 0 5px 15px rgb(160, 160, 160);
    border-radius: 0;
    width: 100%;
    margin: 15px auto;
    padding: 15px 50px;
    font-size: 1rem;
    font-weight: 400;
    position: relative;
    top: 25px;
  }
  .cta-btn-order a {
    color: white;
  }
  .cta-btn-order:hover {
    background: linear-gradient(170deg, #ff93e1, #a16be0);
    box-shadow: 0 5px 15px #6d6d6d;
  }
  .step__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .step__btn .step-number {
    position: relative;
    top: 40px;
    left: 130px;
  }
}
.home-card {
  display: flex;
  overflow: hidden;
  border-radius: 15px;
  width: 90%;
  max-width: 350px;
  margin: 0px auto 15px auto; /*2*/
  background-color: white; /*3*/
  box-shadow: 0px 1px 15px -10px #000000;
}
.home-card a {
  width: 100%;
}
.home-card__figure {
  width: 100%;
  display: inline-block;
}
.home-card__figure-div {
  display: flex;
}
.home-card__figure .span {
  border: none;
  width: 0;
  height: 0;
  justify-self: end;
  position: relative;
}
.home-card__figure .span span {
  display: flex;
  overflow: visible;
  color: #008766;
  padding: 10px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 40px;
  font-size: 12px;
  font-weight: 550;
  background-color: #99e2d0;
  position: relative;
  left: 5vw;
  bottom: 180px;
}
.home-card__figure-img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  object-position: center;
}
.home-card__figcaption {
  height: 60px;
  padding: 0 5px 5px 15px;
  display: flex;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.home-card__figcaption .heart {
  align-items: center;
  display: flex;
  font-family: "Font Awesome Kit";
  justify-content: end;
  font-size: 25px;
  padding-right: 20px;
}
.home-card__figcaption .heart .fa-heart {
  position: absolute;
  transition: opacity 1s;
}
.home-card__figcaption .heart .full-heart {
  opacity: 0;
  background-image: -webkit-linear-gradient(170deg, #FF79DA, #9356DC);
  background-image: linear-gradient(170deg, #FF79DA, #9356DC);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.home-card__figcaption .heart .empty-heart {
  opacity: 1;
}
.home-card__figcaption .heart:hover .empty-heart {
  opacity: 0;
}
.home-card__figcaption .heart:hover .full-heart {
  opacity: 1;
}
.home-card-title {
  font-size: 1.1rem;
  padding-bottom: 5px;
}
.home-card p {
  font-size: 1rem;
}

@media screen and (min-width: 992px) {
  .home-card {
    width: 350px;
    margin: 25px auto;
  }
}
.cta-btn {
  width: 230px;
  line-height: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  box-sizing: border-box;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  padding: 20px;
  border-radius: 25px;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  box-shadow: 0 5px 15px rgb(160, 160, 160);
}
.cta-btn a {
  color: white;
}
.cta-btn:hover {
  background: linear-gradient(170deg, #ff93e1, #a16be0);
  box-shadow: 0 5px 15px #6d6d6d;
}

.cta-btn-order {
  width: 230px;
  line-height: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  box-sizing: border-box;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  padding: 20px;
  border-radius: 25px;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  box-shadow: 0 5px 15px rgb(160, 160, 160);
  width: 50%;
  margin: 15px auto;
  padding: 15px 50px;
  font-size: 1rem;
  font-weight: 400;
}
.cta-btn-order a {
  color: white;
}
.cta-btn-order:hover {
  background: linear-gradient(170deg, #ff93e1, #a16be0);
  box-shadow: 0 5px 15px #6d6d6d;
}

.step__btn {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  box-sizing: border-box;
  width: 90%;
  max-width: 450px;
  margin: 10px auto;
  padding: 20px 0;
  font-weight: 700;
  background-color: #f5f5f5;
  border-radius: 25px;
  box-shadow: 0px 5px 15px rgb(160, 160, 160);
}
.step__btn > p {
  font-size: 1rem;
  font-weight: 550;
  padding: 5px 10px;
  align-content: center;
}
.step__btn .step-number {
  font-size: 12px;
  font-weight: 100;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1;
  height: 15px;
  width: 15px;
  padding: 5px;
  border-radius: 50%;
  background-color: #9356DC;
  position: relative;
  right: 10px;
}
.step__btn > i {
  margin: 0 20px 0 10px;
  color: #353535;
}
.step__btn:hover {
  background-color: #f5edff;
}
.step__btn:hover > i {
  color: #9356DC;
}

@media screen and (min-width: 992px) {
  .cta-btn {
    width: 100%;
    height: 100px;
    border-radius: 0;
  }
  .cta-btn-order {
    height: 100px;
    font-size: 1.7rem;
    width: 230px;
    line-height: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    box-sizing: border-box;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    padding: 20px;
    border-radius: 25px;
    background: linear-gradient(170deg, #FF79DA, #9356DC);
    box-shadow: 0 5px 15px rgb(160, 160, 160);
    border-radius: 0;
    width: 100%;
    margin: 15px auto;
    padding: 15px 50px;
    font-size: 1rem;
    font-weight: 400;
    position: relative;
    top: 25px;
  }
  .cta-btn-order a {
    color: white;
  }
  .cta-btn-order:hover {
    background: linear-gradient(170deg, #ff93e1, #a16be0);
    box-shadow: 0 5px 15px #6d6d6d;
  }
  .step__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .step__btn .step-number {
    position: relative;
    top: 40px;
    left: 130px;
  }
}
.home-card {
  display: flex;
  overflow: hidden;
  border-radius: 15px;
  width: 90%;
  max-width: 350px;
  margin: 0px auto 15px auto; /*2*/
  background-color: white; /*3*/
  box-shadow: 0px 1px 15px -10px #000000;
}
.home-card a {
  width: 100%;
}
.home-card__figure {
  width: 100%;
  display: inline-block;
}
.home-card__figure-div {
  display: flex;
}
.home-card__figure .span {
  border: none;
  width: 0;
  height: 0;
  justify-self: end;
  position: relative;
}
.home-card__figure .span span {
  display: flex;
  overflow: visible;
  color: #008766;
  padding: 10px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 40px;
  font-size: 12px;
  font-weight: 550;
  background-color: #99e2d0;
  position: relative;
  left: 5vw;
  bottom: 180px;
}
.home-card__figure-img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  object-position: center;
}
.home-card__figcaption {
  height: 60px;
  padding: 0 5px 5px 15px;
  display: flex;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.home-card__figcaption .heart {
  align-items: center;
  display: flex;
  font-family: "Font Awesome Kit";
  justify-content: end;
  font-size: 25px;
  padding-right: 20px;
}
.home-card__figcaption .heart .fa-heart {
  position: absolute;
  transition: opacity 1s;
}
.home-card__figcaption .heart .full-heart {
  opacity: 0;
  background-image: -webkit-linear-gradient(170deg, #FF79DA, #9356DC);
  background-image: linear-gradient(170deg, #FF79DA, #9356DC);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.home-card__figcaption .heart .empty-heart {
  opacity: 1;
}
.home-card__figcaption .heart:hover .empty-heart {
  opacity: 0;
}
.home-card__figcaption .heart:hover .full-heart {
  opacity: 1;
}
.home-card-title {
  font-size: 1.1rem;
  padding-bottom: 5px;
}
.home-card p {
  font-size: 1rem;
}

@media screen and (min-width: 992px) {
  .home-card {
    width: 350px;
    margin: 25px auto;
  }
}
.home-cover__location {
  box-shadow: 0px 20px 5px -19px rgba(146, 145, 145, 0.51) inset;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #eaeaea;
  font-weight: 700;
  font-size: 16px;
  color: #353535;
  font-family: "roboto";
}
.home-cover__location-form {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
}
.home-cover__location-form .icn {
  padding-right: 20px;
}
.home-cover__location-form input {
  height: 20px;
  width: 140px;
}
.home-cover__div-location {
  color: #353535;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  box-shadow: 0px 20px 5px -19px rgba(146, 145, 145, 0.51) inset;
  height: 50px;
}
.home-cover__input-location {
  display: flex;
  border: none;
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  font-weight: 550;
  font-size: 16px;
  color: #353535;
  font-family: "roboto";
}
.home-cover__input-location:focus {
  outline: none;
}
.home-cover__input-location::placeholder {
  color: #353535;
}

@media screen and (min-width: 992px) {
  .home-cover__location-form {
    background-color: transparent;
  }
  .home-cover__div-location {
    margin: 0 auto;
    background-color: white;
    border-radius: 25px;
    border: 1px solid grey;
    width: 350px;
    box-shadow: none;
    height: 50px;
  }
  .home-cover__input-location {
    background-color: white;
    border: none;
    font-weight: 550;
    font-size: 16px;
    color: #353535;
  }
}
.home-cover {
  background-color: #f5f5f5;
  margin: 0;
}
.home-cover__title {
  max-width: 300px;
  font-size: 1.3rem;
  font-weight: 700;
  margin: 40px auto 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.home-cover__subtitle {
  max-width: 400px;
  color: #353535;
  font-size: 0.95rem;
  margin: 20px auto 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media screen and (min-width: 992px) {
  .home-cover {
    background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    padding-top: 50px;
    margin: 0 auto;
  }
  .home-cover__div {
    z-index: 0;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px 0;
    height: 200px;
    width: 40%;
    margin: 100px auto;
    justify-content: center;
  }
  .home-cover__subtitle {
    color: #353535;
    font-weight: bold;
    font-size: 1.5rem;
    color: black;
  }
  .home-cover__title {
    margin: 0 auto;
    color: black;
    font-size: 1.7rem;
  }
}
.cta-btn {
  width: 230px;
  line-height: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  box-sizing: border-box;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  padding: 20px;
  border-radius: 25px;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  box-shadow: 0 5px 15px rgb(160, 160, 160);
}
.cta-btn a {
  color: white;
}
.cta-btn:hover {
  background: linear-gradient(170deg, #ff93e1, #a16be0);
  box-shadow: 0 5px 15px #6d6d6d;
}

.cta-btn-order {
  width: 230px;
  line-height: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  box-sizing: border-box;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  padding: 20px;
  border-radius: 25px;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  box-shadow: 0 5px 15px rgb(160, 160, 160);
  width: 50%;
  margin: 15px auto;
  padding: 15px 50px;
  font-size: 1rem;
  font-weight: 400;
}
.cta-btn-order a {
  color: white;
}
.cta-btn-order:hover {
  background: linear-gradient(170deg, #ff93e1, #a16be0);
  box-shadow: 0 5px 15px #6d6d6d;
}

.step__btn {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  box-sizing: border-box;
  width: 90%;
  max-width: 450px;
  margin: 10px auto;
  padding: 20px 0;
  font-weight: 700;
  background-color: #f5f5f5;
  border-radius: 25px;
  box-shadow: 0px 5px 15px rgb(160, 160, 160);
}
.step__btn > p {
  font-size: 1rem;
  font-weight: 550;
  padding: 5px 10px;
  align-content: center;
}
.step__btn .step-number {
  font-size: 12px;
  font-weight: 100;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1;
  height: 15px;
  width: 15px;
  padding: 5px;
  border-radius: 50%;
  background-color: #9356DC;
  position: relative;
  right: 10px;
}
.step__btn > i {
  margin: 0 20px 0 10px;
  color: #353535;
}
.step__btn:hover {
  background-color: #f5edff;
}
.step__btn:hover > i {
  color: #9356DC;
}

@media screen and (min-width: 992px) {
  .cta-btn {
    width: 100%;
    height: 100px;
    border-radius: 0;
  }
  .cta-btn-order {
    height: 100px;
    font-size: 1.7rem;
    width: 230px;
    line-height: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    box-sizing: border-box;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    padding: 20px;
    border-radius: 25px;
    background: linear-gradient(170deg, #FF79DA, #9356DC);
    box-shadow: 0 5px 15px rgb(160, 160, 160);
    border-radius: 0;
    width: 100%;
    margin: 15px auto;
    padding: 15px 50px;
    font-size: 1rem;
    font-weight: 400;
    position: relative;
    top: 25px;
  }
  .cta-btn-order a {
    color: white;
  }
  .cta-btn-order:hover {
    background: linear-gradient(170deg, #ff93e1, #a16be0);
    box-shadow: 0 5px 15px #6d6d6d;
  }
  .step__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .step__btn .step-number {
    position: relative;
    top: 40px;
    left: 130px;
  }
}
.home-steps__div-step {
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}
.home-steps .icn {
  line-height: 1;
  color: #757575;
}
.home-steps a {
  width: 100%;
  max-width: 420px;
}

@media screen and (min-width: 992px) {
  .home-steps__div-step {
    flex-direction: row;
    justify-content: space-evenly;
    margin: 50px auto;
  }
  .home-steps__div-step a {
    min-width: 330px;
    max-width: 25%;
  }
}
.home-card {
  display: flex;
  overflow: hidden;
  border-radius: 15px;
  width: 90%;
  max-width: 350px;
  margin: 0px auto 15px auto; /*2*/
  background-color: white; /*3*/
  box-shadow: 0px 1px 15px -10px #000000;
}
.home-card a {
  width: 100%;
}
.home-card__figure {
  width: 100%;
  display: inline-block;
}
.home-card__figure-div {
  display: flex;
}
.home-card__figure .span {
  border: none;
  width: 0;
  height: 0;
  justify-self: end;
  position: relative;
}
.home-card__figure .span span {
  display: flex;
  overflow: visible;
  color: #008766;
  padding: 10px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 40px;
  font-size: 12px;
  font-weight: 550;
  background-color: #99e2d0;
  position: relative;
  left: 5vw;
  bottom: 180px;
}
.home-card__figure-img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  object-position: center;
}
.home-card__figcaption {
  height: 60px;
  padding: 0 5px 5px 15px;
  display: flex;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.home-card__figcaption .heart {
  align-items: center;
  display: flex;
  font-family: "Font Awesome Kit";
  justify-content: end;
  font-size: 25px;
  padding-right: 20px;
}
.home-card__figcaption .heart .fa-heart {
  position: absolute;
  transition: opacity 1s;
}
.home-card__figcaption .heart .full-heart {
  opacity: 0;
  background-image: -webkit-linear-gradient(170deg, #FF79DA, #9356DC);
  background-image: linear-gradient(170deg, #FF79DA, #9356DC);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.home-card__figcaption .heart .empty-heart {
  opacity: 1;
}
.home-card__figcaption .heart:hover .empty-heart {
  opacity: 0;
}
.home-card__figcaption .heart:hover .full-heart {
  opacity: 1;
}
.home-card-title {
  font-size: 1.1rem;
  padding-bottom: 5px;
}
.home-card p {
  font-size: 1rem;
}

@media screen and (min-width: 992px) {
  .home-card {
    width: 350px;
    margin: 25px auto;
  }
}
.home-restaurant {
  background-color: #f5f5f5;
  padding-bottom: 40px;
  margin-bottom: 0;
}

@media screen and (min-width: 992px) {
  .home-restaurant__div-list {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1040px;
    margin: 0 auto;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
.footer__nav li {
  padding-bottom: 7px;
}
.footer__nav li i {
  margin-right: 10px;
}
.footer__nav li a {
  text-decoration: none;
  color: #f5f5f5;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .footer__nav {
    justify-content: space-evenly;
    display: flex;
  }
}
@media screen and (min-width: 992px) {
  .footer__nav {
    justify-content: space-evenly;
    display: flex;
  }
}
.footer {
  height: 160px;
  font-size: 1rem;
  color: #f5f5f5;
  padding: 5px 0 20px 20px;
  background-color: #353535;
}
.footer__title {
  color: white;
  padding: 15px 0;
  font-weight: 100;
  font-size: 1.1rem;
  font-family: "shrikhand", sans-serif;
}

@media screen and (min-width: 768px) {
  .footer {
    margin: 0 auto;
    height: 200px;
  }
  .footer__title {
    margin-bottom: 20px;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.rest-cover {
  height: 200px;
  object-fit: cover;
  width: 100%;
}
.rest-cover .img {
  height: 250px;
  object-fit: cover;
  object-position: 50%;
  overflow: auto;
}

@media screen and (min-width: 992px) {
  .rest-cover {
    height: 480px;
  }
  .rest-cover .img {
    height: 480px;
  }
}
.rest-card {
  background-color: white;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  animation: sliding-card 1s linear 0.3s for;
  margin: 12.5px auto;
  width: 100%;
  max-width: 500px;
  overflow: hidden;
  box-shadow: 0px 5px 10px #e8e8e8;
  padding: 2.5px px;
}
.rest-card .rich {
  padding: 10px 0 10px 10px;
  transition: width 0.5s 0.3s;
  min-width: 50%;
  width: 80%;
  justify-self: start;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-weight: 400;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.rest-card .rich h5 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-bottom: 5px;
  font-size: 1.1rem;
  font-weight: 500;
}
.rest-card .rich .details {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.95rem;
  font-weight: 300;
  color: #353535;
}
.rest-card .price-check {
  display: flex;
  transition: transform 0.5s 0.3s;
}
.rest-card .price-check .price {
  height: 100%;
  display: block;
  background-color: white;
  padding-right: 15px;
  padding-top: 35px;
  text-align: end;
  color: #353535;
  font-weight: 650;
  font-size: 0.95rem;
}
.rest-card .price-check .checked-box {
  margin-right: -4.4rem;
  overflow: hidden;
  width: 70px;
  transition: transform 0.5s 0.3s;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  box-sizing: content-box;
  color: white;
}
.rest-card:hover .rich {
  width: 60%;
}
.rest-card:hover .price-check {
  transform: translate(-4.4rem);
}

.part-menu {
  padding: 10px 0px;
  margin: 0px auto;
}
.part-menu__title-bar .title {
  font-family: "roboto";
  color: #353535;
  font-weight: 400;
  padding-bottom: 5px;
}
.part-menu__title-bar .bar {
  width: 40px;
  border-bottom: #99E2D0 solid 3px;
}

@media all and (min-width: 768px) and (max-width: 991px) {
  .part-menu {
    width: 100%;
    margin: 0;
  }
  .part-menu__title .title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .part-menu__title-bar {
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .part-menu__title-bar .title {
    font-size: rem;
  }
}
@media all and (min-width: 992px) {
  .part-menu {
    width: 30%;
    min-width: 310px;
  }
  .part-menu__title .title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .part-menu__title-bar {
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.rest-menu {
  background-color: #f5f5f5;
}
.rest-menu__container {
  overflow: hidden;
  padding: 30px 20px;
  position: relative;
  top: 0px;
  bottom: 30px;
  background-color: #f5f5f5;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
.rest-menu__div-title {
  display: flex;
  margin-bottom: 20px;
  width: 100%;
  justify-content: start;
  font-size: 1.8rem;
  overflow: hidden;
}
.rest-menu__div-title .heart {
  align-items: center;
  display: flex;
  font-family: "Font Awesome Kit";
  justify-content: end;
  font-size: 25px;
  padding-right: 20px;
}
.rest-menu__div-title .heart .fa-heart {
  position: absolute;
  transition: opacity 1s;
}
.rest-menu__div-title .heart .full-heart {
  opacity: 0;
  background-image: -webkit-linear-gradient(170deg, #FF79DA, #9356DC);
  background-image: linear-gradient(170deg, #FF79DA, #9356DC);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.rest-menu__div-title .heart .empty-heart {
  opacity: 1;
}
.rest-menu__div-title .heart:hover .empty-heart {
  opacity: 0;
}
.rest-menu__div-title .heart:hover .full-heart {
  opacity: 1;
}
.rest-menu__div-title .rest-heart {
  padding-left: 20px;
  margin: 0;
}
.rest-menu__div-title-bar {
  padding: 10px 20px 0px 20;
}
.rest-menu__div-title-bar:first-child {
  font-weight: 400;
  color: #757575;
  padding-bottom: 5px;
}
.rest-menu__div-title--title {
  font-size: 1.8rem;
  min-width: 80%;
  font-family: "shrikhand", sans-serif;
  font-weight: 500;
  min-width: 0;
  padding-right: 20px;
}

@media screen and (min-width: 762px) and (max-width: 991px) {
  .rest-menu__container {
    padding: 0;
    padding-bottom: 40px;
  }
  .rest-menu__div-title {
    padding-left: 0px;
  }
  .rest-menu__div-title--title {
    text-align: center;
  }
  .rest-menu__div-part-menu {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
  }
  .rest-menu-title {
    padding-top: 40px;
    justify-content: center;
  }
}
@media screen and (min-width: 992px) {
  .rest-menu__container {
    padding: 0;
    border-radius: 0;
  }
  .rest-menu__div-title {
    padding-left: 0px;
  }
  .rest-menu__div-title--title {
    text-align: center;
  }
  .rest-menu__div-part-menu {
    display: flex;
    margin-top: 50px;
    align-items: flex-start;
    justify-content: space-evenly;
  }
  .rest-menu-title {
    padding-top: 40px;
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
