* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "roboto", sans-serif;
}

ul {
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

section {
  width: 100%;
  margin-bottom: 40px;
}

.section__title {
  padding: 50px 0 20px 20px;
}

.header {
  padding: 0;
}
.header__div {
  display: flex;
  justify-items: center;
  margin-bottom: 5px;
  box-shadow: 0px 5px 15px #cfcfcf;
}
.header__div-return {
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.header__img {
  width: 145px;
  margin: 0 auto;
  padding: 15px 0;
}

.header {
  padding: 0;
}
.header__div {
  display: flex;
  justify-items: center;
  margin-bottom: 5px;
  box-shadow: 0px 5px 15px #cfcfcf;
}
.header__div-return {
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.header__img {
  width: 145px;
  margin: 0 auto;
  padding: 15px 0;
}

.cta-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px auto;
  box-sizing: border-box;
  color: white;
  font-size: 14px;
  font-weight: 600;
  border: none;
  padding: 12px 20px;
  border-radius: 25px;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
}
.cta-btn a {
  color: white;
}

.step__btn {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  box-sizing: border-box;
  margin: 20px auto;
  width: 85%;
  padding: 20px 0;
  font-weight: 700;
  background-color: #f7f7f7;
  border-radius: 25px;
  box-shadow: 0px 5px 15px #cfcfcf;
}
.step__btn > p {
  font-size: 12px;
  align-content: center;
}
.step__btn .step-number {
  font-size: 14px;
  font-weight: 100;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-items: center;
  height: 10px;
  width: 10px;
  padding: 7px;
  border-radius: 50%;
  background-color: #9356DC;
  position: relative;
  right: 10px;
}
.step__btn > i {
  margin: 0 20px 0 10px;
  color: #353535;
}
.step__btn:hover {
  background-color: #f5edff;
}
.step__btn:hover > i {
  color: #9356DC;
}

.card {
  overflow: hidden;
  border-radius: 25px;
  width: 90%; /*1*/
  margin: 20px auto; /*2*/
  background-color: white; /*3*/
  box-shadow: 0px 5px 20px #999; /*4*/
}
.card__figure-figcaption {
  width: 90%;
}
.card__figure-div-span span {
  overflow: visible;
  color: green;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  font-size: 14px;
  background-color: lightgreen;
  position: relative;
  right: 70px;
  bottom: 160px;
}
.card__figure-img {
  width: 100%;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.card__content {
  height: 50px;
  padding: 0 5px 5px 20px;
  display: flex;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.card__content div {
  width: 0px;
}
.card__content i {
  margin: 0 10px;
}

.section-home {
  background-color: #f7f7f7;
  margin: 0;
}
.section-home__div {
  padding-bottom: 20px;
}
.section-home__div-location {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  background-color: #eaeaea;
  font-weight: 700;
  font-size: 16px;
  color: #353535;
}
.section-home__icn {
  margin: 0 15px 0 0;
}
.section-home__title {
  font-size: 28px;
  font-weight: 900;
  margin: 40px 0 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.section-home__subtitle {
  font-size: 16px;
  width: 90%;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.section__div-step-full {
  width: 90%;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-restaurant {
  background-color: #f7f7f7;
}
.section-cover__div-img {
  width: 100%;
}
.section-cover__div-img .img {
  overflow: hidden;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.section-card__div {
  padding-top: 20px;
  position: relative;
  top: -50px;
  background-color: white;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.section-card__div-full-menu {
  position: relative;
}
.section-card__div-title {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.section-card__div .title {
  padding-left: 5%;
  font-family: "shrikhand", sans-serif;
  font-weight: 500;
}
.section-card__div-full-menu {
  padding-top: 20px;
}
.section-card__div-full-menu .title {
  padding-left: 5%;
  font-family: "roboto";
}
.section-card__div-full-menu .bar {
  position: relative;
  left: 15px;
  width: 30px;
  border: black solid 2px;
}
.section-card__div-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  border-radius: 10px;
  justify-content: space-between;
  display: flex;
  margin: 5px auto;
  padding: 5px;
  width: 90%;
  box-shadow: 0px 5px 15px #cfcfcf;
}
.section-card__div-card .rich {
  display: flex;
  flex-direction: column;
}
.section-card__div-card i {
  width: 0;
  display: none;
}

.section-footer {
  font-size: 14px;
  font-weight: 500;
  color: #f7f7f7;
  padding-bottom: 40px;
  background-color: #353535;
}
.section-footer__title {
  color: white;
  padding: 15px;
  font-weight: 100;
  font-size: 18px;
  font-family: "shrikhand", sans-serif;
}
.section-footer__nav {
  padding: 0 15px;
}
.section-footer__nav li {
  padding-bottom: 5px;
}
.section-footer__nav i {
  margin-right: 10px;
}/*# sourceMappingURL=main.css.map */