@import "../utils/variables";
@import "../utils/mixins";
@import "../components/buttons";
@import "../components/card";
@import "../layout/form";



.section{                                               //Section Definition
    &-home{                                             //section HOME PAGE
                                             //section Home
        background-color: $bg-lightgrey;
        margin:0;
        &__location{
            @include row;
            border:none;
            width:100%;                                                //Form div location
            @include center;
            @include text-center;
            background-color: #eaeaea ;
            font-weight:700;
            font-size: 16px;;
            color:$darkgrey;
            font-family:"roboto";
            &-form{
                margin:0 auto;
                input{
                    @include inset-shadow;
                }
                @include inset-shadow;
                @include row;
                @include text-center;
                @include center;
                background-color: #eaeaea;
            }
        }
        &__div{                                                     //Main div of home section
            padding-bottom:20px;
            &-location{ 
                color: #353535;
                @include center;
                background-color: #eaeaea;
                @include inset-shadow;
            }
        }
        &__input-location{
             @include row;
                border:none;
                width:100%;                                                //Form div location
                @include center;
                padding:15px 0 15px 20px;;
                background-color: #eaeaea ;
                font-weight:550;
                font-size: 16px;;
                color:$darkgrey;
                font-family:"roboto";
                &:focus{
                    outline:none;  
                }
                &::placeholder{
                    color:$darkgrey;
                }
        }
        &__title{
            width:75%;
            font-size:1.30rem;
            font-weight:700;
            margin:40px auto 20px auto;
            @include text-center;
        }
        &__subtitle {
            width:90%;
            color:#353535;
            font-size:0.95rem;
            margin:20px auto 30px;
            @include text-center;
               
        }
        
    }  
    &-steps{                                            //section HOME PAGE FORMULATION
        &__div-step{                        
            @include column;
            @include row;
            @include center; 
            padding-left:20px;
                   
        }
        .icn{
            line-height:1;
            color:#757575;
        }
        a{
            width: 90%
        }
    }
    &-restaurant{                                       //section HOME PAGE RESTAURANT
        background-color: $bg-lightgrey;
        padding-bottom: 40px;
        margin-bottom:0;
        
    }
    &-cover__div-img{  
                                      //RESTAURANT PAGE COVER IMG
        object-fit: cover;
        height:250px;
        width:100%;
        .img{
            overflow: hidden;
            object-fit:cover;
            object-position: center;
        }
    }   
    &-card__div{                                        //RESTAURANT PAGE MENU CONTAINER
        padding-top:30px;
        position:relative;
        top:-30px;
        background-color: $bg-lightgrey;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        
        &-title{                                        //RESTAURANT TITLE  DIV                 
            width:100%;
            @include row;
            font-size:1.8rem;
            i{
                
                align-self: center;
                width:20%
            }
            &-bar{                                  // "ENTRÉES" DISPLAY TITLE DIV
                padding:10px  20px 0px;
                h4{
                    font-weight:400;
                    color:#757575;
                    padding-bottom: 5px;;
                }
            }
            .restaurant-title{                             //RESTAURANT TITLE
                width:90%;
                padding-left:5%;
                font-family: "shrikhand",sans-serif;
                font-weight: 500;
            }
        }
        
        &-part-menu{                                   // RESTAURANT PARTS MENU
            padding-top:20px;
            .title{                                     //RESTAURANT PART MENU TITLE
                padding-left:5%;
                font-family: "roboto";
            }
            .bar{                                       //BAR UNDER PART MENU TITLE
                width:40px;
                border-bottom:$checked-color solid 3px;
            }
        }
        
        &-card{                                         //CARDS FOR MENU
            background-color: white;
            overflow:auto;
            @include center;
            border-radius:15px;
            justify-content:space-between;
            @include row;
            margin:12.5px auto;
            padding:12.5px 10px; 
            width:85%;
            box-shadow: 0px 5px 10px #e8e8e8;
            .rich{                                      //CONTENTS OF CARD
                width:85%;
                @include column;
                h5{                                     //NAME OF CARDS
                    padding-bottom: 5px;
                    font-size:1.1rem;
                    font-weight:550;
                }
                p.details{                                      //DEFINITION OF CARDS
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis ;
                    font-size:0.9rem;
                    font-weight:450;
                    color:#5a5c65
                }
            }
            .checked-box{                               //CHECKBOX
                width:0;
                color:$checked-color;
                display:none;
            }
            .price{
                color:#5a5c65;
                width:15%;
                font-weight:550;
                font-size: 0.95rem;
                @include center;
                align-self: flex-end;
            }
            
            
        }
    }

}
