@import "../utils/variables";
@import "../utils/functions";
@import "../utils/mixins";
@import "../components/buttons";
@import "../components/card";



.section{                                               //Section Definition
    &-home{                 
                                             //section Home
        background-color: $bg-lightgrey;
        margin:0;
        &__location{
            @include row;
            border:none;
            width:100%;                                                //Form div location
            @include center;
            @include text-center;
            background-color: #eaeaea ;
            font-weight:700;
            font-size: 16px;;
            color:$darkgrey;
            font-family:"roboto";
            &-form{
                input{
                    @include inset-shadow;
                }
                @include inset-shadow;
                width:60%;
                @include row;
                @include text-center;
                @include center;
                background-color: #eaeaea;
            }
        }
        &__div{                                                     //Main div of home section
            padding-bottom:20px;
            &-location{ 
                color: #353535;
                @include center;
                background-color: #eaeaea;
                @include inset-shadow;
            }
        }
        &__input-location{
             @include row;
                border:none;
                width:100%;                                                //Form div location
                @include center;
                padding:15px 0 15px 20px;;
                background-color: #eaeaea ;
                font-weight:550;
                font-size: 16px;;
                color:$darkgrey;
                font-family:"roboto";
                &:focus{
                    outline:none;  
                }
                &::placeholder{
                    color:$darkgrey;
                }
        }
        &__title{
            width:75%;
            font-size:1.30rem;
            font-weight:700;
            margin:40px auto 20px auto;
            @include text-center;
        }
        &__subtitle {
            width:90%;
            color:#353535;
            font-size:0.95rem;
            margin:20px auto 30px;
            @include text-center;
               
        }
        
    }
        
        
    
    &-steps{
        &__div-step{
            @include column;
            @include row;
            @include center; 
            padding-left:20px;
                   
        }
        .icn{
            line-height:1;
            color:#757575;
        }
        a{
            width: 90%
        }
    }
    &-restaurant{
        background-color: $bg-lightgrey;
        padding-bottom: 40px;
        margin-bottom:0;
        
    }
    &-cover__div-img{
        width:100%;
        .img{
            overflow: hidden;
            width:100%;
            object-fit:cover;
            object-position: center;
        }
    }   
    &-card__div{
        padding-top:20px;
        position:relative;
        top:-50px;
        background-color: $bg-lightgrey;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        &-full-menu{
            position:relative;
        }
        &-title{
            width:90%;
            @include row;
            justify-content: space-between;
        }
        .title{
            padding-left:5%;
            font-family: "shrikhand",sans-serif;
            font-weight: 500;
        }
        &-full-menu{
            padding-top:20px;
            .title{
                padding-left:5%;
                font-family: "roboto";
            }
            .bar{
                position:relative;
                left:15px;
                width:30px;
                border:black solid 2px;
            }
        }
        &-cta-btn{
                margin-top:0px;  
        }
        &-card{
            overflow:auto;
            @include center;
            height:60px;
            border-radius:10px;
            justify-content:space-between;
            @include row;
            margin:5px auto;
            padding:5px; 
            width:90%;
            box-shadow: 0px 5px 15px #cfcfcf;
            .rich{
                @include column;
            }
            i{
                width:0;
                display:none;
            }
            
            
        }
}



}