@import "../utils/variables";





.section-footer{
    font-size:14px;
    font-weight:500;
    color:$bg-lightgrey;
    padding-bottom: 40px;
    background-color: $darkgrey;
    &__title{
        color: white;
        padding:15px;
        font-weight:100;
        font-size:18px;
        font-family: "shrikhand",sans-serif;
    }
    &__nav{
        padding:0 15px;
        li{
            
            padding-bottom: 5px;
        }
        i{
            margin-right:10px;
        }
    }
}
