@import "../utils/variables";



.header{   
    &__div{
        @include row;
        margin-bottom: 5px;
        box-shadow: 0px 5px 15px #cfcfcf;
        padding: 5px 0 0 0;
        &-return{
            @include row;
            align-items: center;
            margin-left:25px
        }
    }
    &__img{
        height:30px;
        margin:0 auto;
        padding:15px 0 10px 0;
    }
}  