
.header{
    height:60px;
    padding:0;
    &__div{                                             // DIV full-content 
        Height:100%;
        
        @include row;
        align-content: space-between;
        box-shadow: 0px 5px 15px #cfcfcf;
        &-img{                                          
            width:100%;
            @include row;
            @include text-center;
            
            a{
                
                width:20%;
                align-self: center;
                i{
                    width:40px;
                }
            }
        }
    }
    &__img{                                                 //Logo Picture
        width:160px;
        margin:0 auto;
        padding:15px 0;
    }
    .return-display{                                        //Centering Logo In Restaurant page
        margin:0 auto 0 32.5px;

    }
    
}  