@import "../../utils/variables";
@import "../../utils/functions";
@import "../../utils/mixins";

.rest-cover{                                        //RESTAURANT PAGE MENU CONTAINER
    object-fit: cover;
        height:250px;
        width:100%;
        .img{
            
            overflow: hidden;
            object-fit:cover;
            
        }
    }