@import "../../utils/variables";
@import "../../utils/mixins";

// Variables
$bg-lightgrey: #F9F9F9;

// Section HOME PAGE RESTAURANT
.home-restaurant {
background-color: $bg-lightgrey;
padding-bottom: 40px;
margin-bottom: 0;


// Liste des cartes restaurant
&__div-list {
    @include center;
    max-width: 1040px;
    margin: 0 auto;
    @include row;
    @include center;
    flex-wrap: wrap;
}
}

// Media queries
@media screen and (min-width:992px) {
// Section HOME PAGE RESTAURANT pour les écrans larges
.home-restaurant {
// Liste des cartes restaurant
&__div-list {
@include center;
max-width: 1040px;
margin: 0 auto;
@include row;
@include center;
flex-wrap: wrap;
}
}
}