@import "../utils/variables";
@import "../utils/functions";
@import "../utils/mixins";
//@import "../utils/extensions";



.cta-btn{
    box-sizing: border-box;
    color: white;
    font-size: 18px;
    font-weight:600;
    border: none;
    padding:15px 20px;
    border-radius: $cta-btn-radius;
    background: $cta-btn-bg-color;
}

.step__btn{
    @include row;
    justify-content: flex-start;
    box-sizing: border-box;
    margin:30px 0;
    width:90%;
    padding:25px;
    font-weight:bold;
    background-color: $step-btn-bg-color;
    border-radius: $cta-btn-radius;
    box-shadow: 0px 5px 15px #cfcfcf;
    > p{
        font-size: 14px;
    }
    .step-number{
        position:relative;
        right:40px;
    }
    &-step__icn{
        margin-right:30px;
    }
    &:hover{
        background-color: darken($color: $step-btn-bg-color, $amount: 0);
    }
}

