@import "../utils/variables";
@import "../utils/functions";
@import "../utils/mixins";
//@import "../utils/extensions";



.cta-btn{
    box-sizing: border-box;
    color: white;
    font-size: 16px;
    font-weight:500;
    border: none;
    padding:15px 20px;
    border-radius: $cta-btn-radius;
    background: $cta-btn-bg-color;
    a{
            color:white;
        }
}

.step__btn{
    @include row;
    @include center;
    @include text-center;
    justify-content: flex-start;
    box-sizing: border-box;
    margin:20px auto;
    width:85%;
    padding:20px 0;
    font-weight:700;
    background-color: $step-btn-bg-color;
    border-radius: $cta-btn-radius;
    box-shadow: 0px 5px 15px #cfcfcf;
    ;
    > p{
        font-size: 12px;
        
        align-content:center;
    }
    .step-number{
        font-size:14px;
        font-weight: 100;
        color:white;
            @include text-center;
            align-items:center;
            height: 10px;
            width:10px;
            padding:7px;
            border-radius:50%;
            background-color: $violet;
            position:relative;
            right:10px;
    }
    > i{
        margin:0 20px 0 10px ;
        color:$darkgrey;
    }
    &:hover{
        background-color: #f5edff;
        >i{
            color:$violet
        }
    }
}

