.loader{                                                //SUPERPOSED LAYER
    z-index:99;
    background:#ffffff;
    background:opacity 0.8;
    width:100vw;
    height:100vh;                                       //CREATE LOADER
    position:fixed;
    -webkit-animation: loader-display 0.3s 2s ease-in forwards;
    animation: loader-display 0.3s 2s ease-in forwards;
    display: flex;
    align-items: center;
    justify-content: center;
}

.span{                                                  // LOADER CONTAINER
    width:100%;
    height:100%;
    border:3px solid $darkgrey;
    opacity: 1;
} 
.span-loader{                                           //ANIMATEDLOADER;
    color:$darkgrey;                                   
    border-radius: 50%;
    width:220px;
    height: 220px;
    @include text-center;
    background:linear-gradient(170deg,$pink, $violet);
    animation:spin-bg  0.25s linear  infinite,font-pulse 2.25s linear infinite;
    -webkit-animation:spin-bg  0.25s linear  infinite,font-pulse 2.25s linear infinite;
}

@keyframes loader-display{                          // AFFICHAGE DU LOADER
    0%{
        opacity:0.98
    }
    100%{
        opacity:0;
        display:none;
        z-index:-1;
    }
}
@keyframes font-pulse{                              //LOADER FONT ANIMATION
    0%{
        font-size:0rem;
        font-weight:100;
    }
    25%{
        font-size:3rem;
        font-weight:900;
    }
    50%{
        font-size:2rem;
        font-weight:400;
    }
    75%{
        font-size:3rem;
        font-weight:900;
    }
    100%{
        font-size:0rem;
        font-weight:100;
    }
}
@keyframes spin-bg{                                 // TURNING BACKGROUND
    0%{
        background:linear-gradient(00deg,$pink, $violet);        
    }
    10%{
        background:linear-gradient(36deg,$pink, $violet);
    }
    20%{
        background:linear-gradient(72deg,$pink, $violet);
    }
    30%{
        background:linear-gradient(108deg,$pink, $violet);
    }
    40%{
        background:linear-gradient(144deg,$pink, $violet);
    }
    50%{
        background:linear-gradient(180deg,$pink, $violet);   
    }
    60%{
        background:linear-gradient(216deg,$pink, $violet);
    }
    70%{
        background:linear-gradient(252deg,$pink, $violet);
    }
    80%{
        background:linear-gradient(288deg,$pink, $violet);
    }
    90%{
        background:linear-gradient(324deg,$pink, $violet);
    }
    100%{
        background:linear-gradient(324deg,$pink, $violet);
    }
}

    