$primary-color: #9356DC;
$secondary-color: #FF79DA;
$loader-size: 220px;
$loader-border-size: 3px;
$loader-font-size: 1rem;
$loader-font-weight: 100;

.loader-container {
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.75);
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: loader-hide 0.3s 3s ease-in-out forwards;
  }


.loader {
  z-index: 10;
  opacity: 1;
  border: $loader-border-size solid $primary-color;
  border-radius: 50%;
  width: $loader-size;
  height: $loader-size;
  background: linear-gradient(170deg, $secondary-color, $primary-color);
  animation: spin-bg 3s linear 0.5s forwards, font-pulse 3s linear 1s forwards;

  &::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 20px 0;
    border-color: $secondary-color transparent transparent;
    animation: loader-bounce 3s ease-in-out forwards;
    transform: translateY(-20px);
  }
  

  

@keyframes font-pulse {
  0% {
    font-size: $loader-font-size;
    font-weight: $loader-font-weight;
  }
  25% {
    font-size: $loader-font-size * 2.5;
    font-weight: 900;
  }
  50% {
    font-size: $loader-font-size * 2;
    font-weight: 400;
  }
  75% {
    font-size: $loader-font-size * 2.5;
    font-weight: 900;
    opacity: 1;
  }
  100% {
    font-size: $loader-size;
    font-weight: 900;
    opacity: 0;
  }
}

@keyframes spin-bg {
  0% {
    background: linear-gradient(0deg, $secondary-color, $primary-color);
  }
  5% {
    transform: rotate(18deg);
    background: linear-gradient(36deg, $secondary-color, $primary-color);
  }
  10% {
    transform: rotate(36deg);
    background: linear-gradient(72deg, $secondary-color, $primary-color);
  }
  15% {
    transform: rotate(54deg);
    background: linear-gradient(108deg, $secondary-color, $primary-color);
  }
  20% {
    transform: rotate(72deg);
    background: linear-gradient(144deg, $secondary-color, $primary-color);
  }
  25% {
    transform: rotate(90deg);
    background: linear-gradient(180deg, $secondary-color, $primary-color);
  }
  30% {
    transform: rotate(108deg);
    background: linear-gradient(216deg, $secondary-color, $primary-color);
  }
  35% {
    transform: rotate(126deg);
    background: linear-gradient(252deg, $secondary-color, $primary-color);
  }
  40% {
    transform: rotate(144deg);
    background: linear-gradient(288deg, $secondary-color, $primary-color);
  }
  45% {
    transform: rotate(162deg);
    background: linear-gradient(324deg, $secondary-color, $primary-color);
  }
  50% {
    transform: rotate(180deg);
    background: linear-gradient(360deg, $secondary-color, $primary-color);
  }
  55% {
    transform: rotate(198deg);
    background: linear-gradient(396deg, $secondary-color, $primary-color);
  }
  60% {
    transform: rotate(216deg);
    background: linear-gradient(432deg, $secondary-color, $primary-color);
  }
  65% {
    transform: rotate(234deg);
    background: linear-gradient(468deg, $secondary-color, $primary-color);
  }
  70% {
    transform: rotate(252deg);
    background: linear-gradient(504deg, $secondary-color, $primary-color);
  }
  75% {
    transform: rotate(270deg);
    background: linear-gradient(540deg, $secondary-color, $primary-color);
  }
  80% {
    transform: rotate(288deg);
    background: linear-gradient(576deg, $secondary-color, $primary-color);
  }
  85% {
    transform: rotate(306deg);
    background: linear-gradient(612deg, $secondary-color, $primary-color);
  }
  90% {
    transform: rotate(324deg);
    background: linear-gradient(648deg, $secondary-color, $primary-color);
  }
  95% {
    transform: rotate(342deg);
    background: linear-gradient(684deg, $secondary-color, $primary-color);
  }
  100% {
    transform: rotate(360deg);
    background: linear-gradient(720deg, $secondary-color, $primary-color);
  }
}

@keyframes loader-hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
    display:none;
  }
}}