@import "../utils/variables";
@import "../utils/mixins";
@import "../components/buttons";
@import "../components/home-card";


.home-cover{                                                 //section cover
        &__location{                                        //Form div location
            @include inset-shadow;       
            width:100%;                                                
            @include text-center;
            background-color: #eaeaea ;
            font-weight:700;
            font-size: 16px;
            color:$darkgrey;
            font-family:"roboto";
            &-form{                                             //FORM OF IMPUT LOCATION SEARCH
                @include row;
                @include text-center;
                @include center;
                background-color: #eaeaea;
                .icn{                                              //ICON OF IMPUT LOCATION
                    padding-right:20px;
                }
                input{
                    height:20px;
                    width:140px;
                }
                
            }
        }
        &__div-location{ 
            color: #353535;
            @include center;
            background-color: #eaeaea;
            @include inset-shadow;
            height:50px;
        }
        &__input-location{
         @include row;
            border:none;
            box-sizing: content-box;                                              
            @include center;
            background-color: #eaeaea ;
            font-weight:550;
            font-size: 16px;;
            color:$darkgrey;
            font-family:"roboto";
            &:focus{                                                //when focus
                outline:none;  
            }
            &::placeholder{                                         //content of placeholder
                color:$darkgrey;
            }
        }
}

@media screen and (min-width: 992px){
    .home-cover{
        &__location-form{
            background-color: transparent;     
        }
        &__div{
            order:1;
            &-location{ 
                order:2;
                background-color:white;
                border-radius: 25px;;
                border:1px solid grey;
                width:350px;
                @include center;
                box-shadow:none;
                height:50px;
            }}
        &__input-location{
            background-color: white;
               border:none;
               font-weight:550;
               font-size: 16px;;
               color:$darkgrey; 
        }
    }
}