@import "../utils/variables";
@import "../utils/functions";
@import "../utils/mixins";

.part-menu {
    padding: 10px 0;
    margin: 0 auto;
    opacity: 0;
    width:30%;
    min-width:310px;
    animation: bounce 0.5s 0.8s ease-out both;
    
    @keyframes bounce {
        0% {
          transform: scale(0.1);
          opacity: 0;
        }
        50% {
          opacity: 0.5;
        }
        100% {
          transform: scale(1);
          opacity: 1;
        }}
      
    &:nth-child(1){
      animation-delay:0.8s
    }
    &:nth-child(2){
      animation-delay:1.2s
    }
    &:nth-child(3){
      animation-delay:1.6s
    }
    
    &__title-bar {
      display: flex;
      @include column;
      
      margin-bottom: 10px;
      .bar{
                width: 40px;
                border-bottom: #99E2D0 solid 3px;
      .part-menu__title {
        font-family: "roboto"; 
        color: $darkgrey;
        font-weight: 400;
        margin: 0;
        
        }
      }
      
      .part-menu__bar {
        width: 40px;
        height: 3px;
        background-color: $checked-color;
        margin-left: 10px;
        
        }
      }
    }
    

  
  @media all and (min-width: 768px) and (max-width: 991px) {
    .part-menu {
      width: 100%;
      margin: 0;
      
      &__title-bar {
        justify-content: center;
        align-items: center;
      }
    }
  }
  
  @media all and (min-width: 992px) {
    .part-menu {
      width: 30%;
      min-width: 310px;
    }
  }
