@import "../utils/variables";
@import "../utils/functions";
@import "../utils/mixins";
.rest-card{                                         //CARDS FOR MENU
    background-color: white;
    border-radius:15px;
    @include row;
    justify-content:space-evenly;
    margin:12.5px auto;
    width:100%;
    box-shadow: 0px 5px 10px #e8e8e8;
    .rich{        
        padding:10px 5px ;                              //CONTENTS OF CARD
        width:80%;
        @include column;
        font-weight:400;
        h5{                                     //NAME OF CARDS
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis ;
            padding-bottom: 5px;
            font-size:1.25rem;
            font-weight:550;
            }
        .details{   
                                              //DEFINITION OF CARDS
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis ;
            font-size:1rem;
            color:#5a5c65
        }
        
    }
    .price{
        color:#5a5c65;
        height:100%;
        width:auto;
        font-weight:550;
        font-size: 0.95rem;
        padding:7px;
        text-align: end;
        align-self: flex-end;
        padding-bottom:15px;
        }  
    .checked-box{                               //CHECKBOX
        
        display:none;
        
        
    }
    &:hover{
        
        .rich{
        
            box-sizing: border-box;
            padding-left:15px;
            min-width:65%;
        }
        .price{
            width:10%;
        }
        .checked-box{
            width: 17.5%;
            color:white;
            display:inline-flex;
            align-items: center;
            justify-content: center;
            background-color: $checked-color;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
          
            
        }
        
}
    }