@import "../utils/variables";
@import "../utils/functions";
@import "../utils/mixins";
.rest-card{    
    cursor:pointer;
                                       //CARDS FOR MENU
    background-color: white;//overflow:hidden;
    border-radius:15px;
    @include row;
    justify-content:space-between;
 //   animation: sliding-card 1s linear 0.3s for;
    margin:12.5px auto;
    width:100%;
    max-width:500px;
    overflow:hidden;
    box-shadow: 0px 5px 10px #e8e8e8;
    
    .rich{                                          //CONTENTS OF CARD
        padding:10px 0 10px 10px ;  
        transition:width 0.5s 0.3s;                            
        min-width:50%;
        width:80%;
        justify-self:start;
        @include column;
        box-sizing: border-box;
        font-weight:400;
        overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis ;
        h5{                                     //NAME OF CARDS
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis ;
            padding-bottom: 5px;
            font-size:1.1rem;
            font-weight:500;
            
            }
        .details{   
                                              //DEFINITION OF CARDS
            
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis ;
            font-size:0.95rem;
            font-weight:300;
            color:$darkgrey;
            
        }
    }
    .price-check{                                         //CONTAINER PRICE/CHECK
        @include row;
        transition:transform 0.5s 0.3s;
        .price{                                         //PRICE OF MENU
        height:100%;
        display:block;
        background-color: white;;
        padding-right:20px;
        padding-top:35px;
        text-align: end;
        color:$darkgrey;
        font-weight:650;
        font-size: 0.95rem;
        overflow:visible;}  
    .checked-box{                               //CHECKBOX
        margin-right:-4.4rem;
        
        overflow:visible;
        width:60px;
        height:100%;
        @include center;
        justify-content: center;
        background-color: $checked-color;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;box-sizing: content-box;color:white; 
    }}
    &:hover{
        .rich{
           width:60%; 
        }
        .price-check{
            transform:translate(-4.4rem)
        }
        i{
            
            animation:check-rotation 0.7s 0.3s forwards;
            @keyframes check-rotation{
                from{
                    transform:rotate(0deg);
                }
                to{
                    transform:rotate(360deg);
                }
            }
        }
    }
}