/* Error: Undefined variable.
 *    ,
 * 10 | height: $rest-cover-height;
 *    |         ^^^^^^^^^^^^^^^^^^
 *    '
 *   ..\sass\layout\RESTAURANT\_rest-cover.scss 10:9  @import
 *   ..\sass\pages\_restaurant-page.scss 2:9          @import
 *   ..\sass\main.scss 13:9                           root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 10 \2502  height: $rest-cover-height;\d\a    \2502          ^^^^^^^^^^^^^^^^^^\a    \2575 \a   ..\\sass\\layout\\RESTAURANT\\_rest-cover.scss 10:9  @import\a   ..\\sass\\pages\\_restaurant-page.scss 2:9          @import\a   ..\\sass\\main.scss 13:9                           root stylesheet";
}
