@import "../../components/home-card";

.home-restaurant{                                       //section HOME PAGE RESTAURANT
    background-color: $bg-lightgrey;
    padding-bottom: 40px;
    margin-bottom:0;
    
}

@media screen and (min-width:992px){
.home-restaurant{
        &__div-list{

            margin:0 5%;

            @include row;

            @include center;
            flex-wrap: wrap;
        }
}}