@mixin row{
    display:flex;
}
@mixin column{
    @include row();
    flex-direction: column;
}

@mixin center{
    @include row;
    justify-content:center;
    align-items: center
}

@mixin text-center{
    @include center;
    text-align: center;
}

@mixin inset-shadow{
    box-shadow: -1px 20px 5px -20px rgba(0,0,0,0.51) inset;

}